numpy==2.2.1
torch==2.5.1
qrcode==8.0

horde_sdk~=0.16.5
horde_safety~=0.2.3
horde_engine~=2.20.8
horde_model_reference>=0.9.0

python-dotenv
ruamel.yaml
semver

python-Levenshtein

pydantic>=2.9.2
typing_extensions
requests
StrEnum
loguru

babel
